header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 15px 20px;
    color: white;
}
header h1 {
    font-size: 26px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
nav ul li a.active {
    color: yellow;
}
.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background: #222;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 20px;
        border-radius: 8px;
    }
    nav ul.show {
        display: flex;
    }
}

.contact-container {
    width: 90%;
    max-width: 600px;
    margin: 80px auto;
    text-align: center;
}
.contact-container h2 {
    font-size: 32px;
    margin-bottom: 25px;
}
.contact-container p {
    color: #555;
    margin-bottom: 25px;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#contactForm input, 
#contactForm textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 16px;
    outline: none;
}

#contactForm input:focus,
#contactForm textarea:focus {
    border-color: #333;
}

.btn {
    padding: 12px;
    background: black;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover {
    background: #333;
}

.success-msg {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}